.contenedorNosotros__parrafo {
  margin: 0 auto;
  text-align: center;
}

.nuestraSedes {
  margin-bottom: 5rem;
}
.nuestraSedes .equipos {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.nuestraSedes .equipos__sedes {
  width: 55rem;
  text-align: center;
}

@media (min-width: 768px) {
  .contenedorNosotros {
    margin-top: 2rem !important;
  }
  .contenedorNosotros__historia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
  }
}
.boton, .bg__boton, .boton-productos, .membresias .card-body__boton, .main__contacto .formulario__fieldset--boton {
  background-color: #640D14;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  color: #FEFAF9;
  transition: 0.7s ease-in-out;
}
.boton:hover, .bg__boton:hover, .boton-productos:hover, .membresias .card-body__boton:hover, .main__contacto .formulario__fieldset--boton:hover {
  background-color: #38040E;
}

.main__contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondasocontacto.jpg);
  background-size: cover;
  height: 100rem;
}
.main__contacto .formulario {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  color: #FEFAF9;
}
.main__contacto .formulario__fieldset {
  border: none;
}
.main__contacto .formulario__fieldset .style-input {
  width: 100%;
  padding: 3rem;
  font-size: 1.5rem;
}
.main__contacto .formulario__fieldset--boton {
  width: 90%;
  padding: 1.5rem;
  margin-top: 1rem;
}

.boton, .bg__boton, .boton-productos, .membresias .card-body__boton, .main__contacto .formulario__fieldset--boton {
  background-color: #640D14;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  color: #FEFAF9;
  transition: 0.7s ease-in-out;
}
.boton:hover, .bg__boton:hover, .boton-productos:hover, .membresias .card-body__boton:hover, .main__contacto .formulario__fieldset--boton:hover {
  background-color: #38040E;
}

.carousel-tiem-titulo {
  font-size: 2rem;
  font-weight: bold;
}

.membresias {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 10rem !important;
}
.membresias .card {
  background-image: linear-gradient(to bottom, #640D14, #640D14 30%, #FEFAF9 30%, #FEFAF9 70%);
  padding: 1rem;
  width: 25rem !important;
  border: none;
  text-align: center;
}
.membresias .card-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
.membresias .card-text {
  margin: 2rem 0;
}
.membresias .card-body .terminos-condiciones {
  font-size: 1.4rem;
  margin-top: 2rem;
  text-decoration: underline;
  cursor: pointer;
}
.membresias .card-body .terminos-condiciones-descripcion {
  font-size: 1.2rem;
}
.membresias .card-body__boton {
  padding: 1rem 1.5rem;
}

.boton, .bg__boton, .boton-productos, .main__contacto .formulario__fieldset--boton, .membresias .card-body__boton {
  background-color: #640D14;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  color: #FEFAF9;
  transition: 0.7s ease-in-out;
}
.boton:hover, .bg__boton:hover, .boton-productos:hover, .main__contacto .formulario__fieldset--boton:hover, .membresias .card-body__boton:hover {
  background-color: #38040E;
}

.contenedor-producto {
  margin-bottom: 5rem !important;
}

.producto {
  max-width: 24rem;
  min-height: 43rem;
  position: relative;
}
.producto__informacion {
  padding: 2rem 0;
  text-align: center;
  color: black;
}

.invisible {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  visibility: visible !important;
}

.boton-productos {
  padding: 1rem 2rem !important;
}

@media (min-width: 768px) {
  .invisible {
    opacity: 0;
    bottom: 65%;
  }
  .producto:hover .invisible {
    opacity: 1;
    transition: 1s;
  }
}
footer {
  background-color: #AD2831;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  color: #FEFAF9;
  text-align: center;
}
footer__icon {
  display: flex;
  gap: 5rem;
}

.grid {
  display: grid;
  gap: 2rem;
  margin: 3rem auto;
  align-items: center;
}

@media (min-width: 320px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
header {
  background-color: #640D14;
  padding: 0.5rem 0;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}
.navbar {
  background-color: #640D14 !important;
}
.navbar__logo {
  margin: 0 auto;
}
.navbar__logo--img {
  height: 10rem;
  max-width: none;
}
.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
}
.navbar .nav-item {
  padding: 0.5rem 0.5rem;
  font-size: 1.6rem;
  color: #FEFAF9;
}
.navbar .nav-link {
  display: inline-block;
  position: relative;
  color: #FEFAF9 !important;
}
.navbar .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar .nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FEFAF9;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
.navbar .active:after {
  transform: scaleX(1);
}
@media (min-width: 768px) {
  .navbar #navbarNav {
    justify-content: flex-end;
  }
}

.boton, .bg__boton, .main__contacto .formulario__fieldset--boton, .membresias .card-body__boton, .boton-productos {
  background-color: #640D14;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  color: #FEFAF9;
  transition: 0.7s ease-in-out;
}
.boton:hover, .bg__boton:hover, .main__contacto .formulario__fieldset--boton:hover, .membresias .card-body__boton:hover, .boton-productos:hover {
  background-color: #38040E;
}

.bg {
  height: 85rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../imagenes/cuidar_columna_gimnasio.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bg__titulo {
  color: #FEFAF9;
  text-transform: uppercase;
}
.bg__titulo--redcolor {
  color: #AD2831;
}
.bg__ubicacion {
  margin: 2rem 0 3.5rem 0;
  color: #FEFAF9;
}
.bg__boton {
  padding: 1.5rem 7rem;
}

.boton, .main__contacto .formulario__fieldset--boton, .membresias .card-body__boton, .boton-productos, .bg__boton {
  background-color: #640D14;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  color: #FEFAF9;
  transition: 0.7s ease-in-out;
}
.boton:hover, .main__contacto .formulario__fieldset--boton:hover, .membresias .card-body__boton:hover, .boton-productos:hover, .bg__boton:hover {
  background-color: #38040E;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.2rem;
}

p, a {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

body {
  background-color: #F1F2ED;
  font-family: "Montserrat";
}
@media (min-width: 768px) {
  body {
    padding-top: 15rem !important;
  }
}
@media (min-width: 992px) {
  body {
    padding-top: 12rem !important;
  }
}
body h1, body h2, body h3, body h4 {
  text-align: center;
  color: #800E13;
  margin: 0 !important;
}
body .contenedor {
  margin: 0 auto;
  max-width: 120rem;
  padding: 1rem;
}
body .contenedor__titulo {
  color: #640D14;
  text-transform: uppercase;
  margin: 5rem 0 !important;
}
body .negro {
  color: #1A1F25 !important;
}
body .blanco {
  color: #FEFAF9 !important;
}
body textarea {
  resize: none;
}

/*# sourceMappingURL=styles.css.map */
