@use "../utilities/variables";

.grid {
    display: grid;
    gap: 2rem;
    margin: 3rem auto;
    align-items: center;
}

@media (min-width: variables.$celulares) {
    .grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: variables.$tablets) {
    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: variables.$computadoras) {
    .grid {
        grid-template-columns: repeat(4,1fr)
    }
}