@use "../utilities/variables";

header {
    background-color: variables.$colorPrincipal;
    padding: .5rem 0;
}

@media (min-width: 768px) {
    header {
        position:fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
}