@use "../utilities/variables";
@use "../utilities/mixins";
@import "../components/buttons";

.bg {
    height: 85rem;

    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../imagenes/cuidar_columna_gimnasio.jpg");
    background-size: cover;
    background-position: top;
    
    @include mixins.flexCenter;
    
    &__titulo {
        color: variables.$blanco;
        text-transform: uppercase;

        &--redcolor {
            color: variables.$rojo;
        }
    }

    &__ubicacion {
        margin: 2rem 0 3.5rem 0;
        color: variables.$blanco;
    }

    &__boton {
        @extend .boton;
        padding: 1.5rem 7rem;
    }
}