$colorPrincipal: #640D14;
$colorPrincipalOscuro: #250902;

$colorSecundario: #800E13;
$colorSecundarioOscuro: #38040E;

$rojo: #AD2831;
$blanco: #FEFAF9;
$negro: #1A1F25;

$colorFondo: #F1F2ED;

$fuentePrincipal: "Montserrat";

$celulares: 320px;
$tablets: 768px;
$laptops: 992px;
$computadoras: 1200px;