@use "../utilities/variables";

.boton {
    background-color: variables.$colorPrincipal;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 2rem;
    border: none;
    color: variables.$blanco;
    transition: .7s ease-in-out;

    &:hover {
        background-color: variables.$colorSecundarioOscuro;
    }
}
