@use "../utilities/variables";

body {
    background-color: variables.$colorFondo;
    font-family: variables.$fuentePrincipal;

    @media (min-width: variables.$tablets) {
        & {
            padding-top: 15rem !important;
        }
    }

    @media (min-width: variables.$laptops) {
        & {
            padding-top: 12rem !important;
        }
    }

    h1,h2,h3,h4{
        text-align: center;
        color: variables.$colorSecundario;
        margin: 0 !important;
    }

    .contenedor {
        margin: 0 auto;
        max-width: 120rem;
        padding: 1rem;

        &__titulo {
            color: variables.$colorPrincipal;
            text-transform: uppercase;
            margin: 5rem 0 !important;
        }
    }
    
    .negro {
        color: variables.$negro !important;
    }

    .blanco {
        color: variables.$blanco !important;
    }

    textarea {
        resize: none;
    }
}








