@use "../utilities/variables";
@use "../utilities/mixins";

.contenedorNosotros__parrafo {
    margin: 0 auto;
    text-align: center;
}

.nuestraSedes {
    margin-bottom: 5rem;

    .equipos {
        @include mixins.flexRowCenter;
        margin-top: 2rem;

        &__sedes {
            width: 55rem;
            text-align: center;  
        }
    }
}

@media (min-width: variables.$tablets) {
    .contenedorNosotros {
        margin-top: 2rem !important;

        &__historia {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            gap: 1rem;
        }
    }
}