@use "../utilities/variables";

.main__contacto {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,
    url(../imagenes/fondasocontacto.jpg);
    background-size: cover;

    height: 100rem;


    .formulario {
        background-color: rgba(0,0,0,0.7);

        max-width: 120rem;
        margin: 0 auto;
        padding: 2rem;

        text-align: center;
        font-size: 2rem;
        color: variables.$blanco;

        &__fieldset {
            border: none;

            .style-input {
                width: 100%;
                padding: 3rem;
                font-size: 1.5rem;
            }
        }
    }   
}