@use "../utilities/variables";
@import "../components/buttons";

.contenedor-producto {
    margin-bottom: 5rem !important;

}

.producto {
    max-width: 24rem;
    min-height: 43rem;
    position: relative;

    &__informacion {
        padding: 2rem 0;
        text-align: center;
        color: black;
    }
}

.invisible {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    visibility: visible !important;
}

.boton-productos{
    @extend .boton;
    padding: 1rem 2rem !important;
}

@media (min-width: variables.$tablets) {
    .invisible {
        opacity: 0;
        bottom: 65%;
    }      
    .producto:hover .invisible{
        opacity: 1;
        transition: 1s;
    }
}







